* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}
body {
  background-color: rgb(20, 19, 19);
  transition: 0.8s;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
}

.container {
  width: 370px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
 
}


input {
  padding: 19px;
  color: rgb(255, 255, 255);
  font-size: 1em;
  cursor: pointer;
  background-color: rgb(47, 51, 50);
  border: none;
  outline: none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.result-display {
  width: 76.5%;
}

.row-display {
  margin-bottom: 10px;
  margin-top: 10px;
}


.row-display input[type="button"] {
  
  width: 20%;
  height: 60px;
  text-align: center;
}

input[type="text"] {
  height: 65px;
  width: 78.8%;
  background-color: rgb(47, 51, 50);
}

.hex-row input[type="button"] {
  width: 15.7%;
  text-align: center;
}


.row {
  margin-bottom: 10px;
  margin-top: 10px;
}

.row input[type="button"] {
  
  width: 19.1%;
  text-align: center;
}




input[type="button"]:hover {
  background-color: rgb(160, 160, 160);
  color: #fff;
}

.clear {
  color: #fff;
  background-color: rgb(255, 42, 42);
}


