
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;



}

.background-light {background-color: #e9ecef;}
.background-dark {background-color: #292929;}


.input-light input{
  background-color:#FFF !important;
  border-width: 2px;
  border-color: rgb(199, 199, 199);
}
.input-dark input{
  background-color:#212529 !important;
  border-width: 2px;
  border-color: rgb(59, 59, 59);
  color: white !important;
}

.results input:focus {
  border-color: rgb(199, 199, 199);
  box-shadow: none;
}


.input-active{
  border-color: rgb(240, 33, 33) !important;
  
}


.button-active{
  background-color: rgb(240, 33, 33) !important;
}

button:disabled {
  background-color: transparent !important;
  border-width: 0px;
  
} 

.action-light {background-color: rgba(187, 187, 187, 0.555) !important;}
.action-dark {background-color: rgb(66, 66, 66) !important;}

.equals-button {
  background-color: rgb(255, 166, 0) !important;
}

.link-light { color: inherit; } 
.link-dark { color: rgb(199, 199, 199); } 



